* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --headerHeight: 110px;
    --navHeight: 220px;
}

html {
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

@media (min-width: 360px) and (orientation: portrait) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 640px) and (orientation: landscape) {
    html {
        font-size: 24px;
    }
}

body {
    min-height: 200vh;
    /* background-image: url('../images/bgpattern1.png'); */
}

/* HEADER AND NAV MOBILE */

@media (max-width: 1019px) {

    header {
        height: var(--headerHeight);
        background-color: white;
        z-index: 4;
    }

    header * {
        position: relative;
        z-index: 1;
    }

    header .wrap {
        display: flex;
        background-color: white;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 100%;
    }

    header .burger {
        margin-left: .8rem;
        font-size: 35px;
        text-align: center;
        width: 2rem;
        color: #666;
        cursor: pointer;
        z-index: 2;
    }

    header .burger .fa-times {
        display: none;
    }

    header .burger.active .fa-times {
        display: block;
    }

    header .burger.active .fa-bars {
        display: none;
    }

    header .logo {
        box-sizing: content-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-bottom: 4px solid #444;
    }

    header .logo+img {
        height: calc(var(--headerHeight) - 4px);
        margin-right: 10px;
    }

    header nav {
        display: flex;
        font-family: 'Courgette', cursive;
        flex-direction: column;
        height: var(--navHeight);
        position: absolute;
        left: 0;
        top: calc(var(--headerHeight) - var(--navHeight));
        z-index: 0;
        transition: .3s;
    }

    header nav.active {
        top: 103%;
    }

    header nav a {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(219, 192, 148, 0.9);
        color: #222;
        font-size: 1.4rem;
        width: 100vw;
        height: calc(var(--navHeight) / 4);
        text-decoration: none;
        border-bottom: 2px solid saddlebrown;
        padding-left: 30px;
    }

    @media (min-width: 760px) and (orientation: portrait) {

        :root {
            --headerHeight: 200px;
            --navHeight: 380px;
        }

        /* html {
            font-size: 30px;
        } */

        header .burger {
            font-size: 60px;
            margin-left: 50px;
        }
    }
}

/* HEADER AND NAV DESKTOP */

@media (min-width: 1020px) {
    :root {
        --headerHeight: 110px;
    }

    header {
        position: relative;
        height: var(--headerHeight);
        border-bottom: 2px solid #444;
        background-color: #fff;
        z-index: 4;
    }

    header .wrap {
        display: flex;
        position: relative;
        justify-content: flex-end;
        align-items: center;
        background-color: #fff;
        height: 100%;
        max-width: 1240px;
        margin: 0 auto;
    }

    header .burger {
        display: none;
    }

    header .logo {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: content-box;
        height: 187px;
        width: 300px;
        border: 2px solid #444;
        border-radius: 40%;
        z-index: -1;
    }

    header .logo+img {
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid transparent;
        border-radius: 40%;
    }

    header nav {
        display: flex;
        font-family: 'Courgette', cursive;
        flex-basis: 68%;
        flex-direction: row;
        justify-content: space-between;
        height: 60%;
        padding-right: 30px;
        padding-left: 10px;
    }

    header nav a {
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        justify-content: space-around;
        background-color: rgb(243, 240, 236);
        color: #222;
        font-size: 1.2rem;
        height: 100%;
        text-decoration: none;
        border: 2px solid saddlebrown;
        text-align: center;
        transition: .3s;
    }

    header nav a:hover {
        color: rgb(243, 240, 236);
        background-color: rgb(164, 139, 94);
        border-color: #341b09;
    }
}

/* BANNER MOBILE */

.banner {
    position: relative;
    height: calc(100vh - var(--headerHeight));
    overflow: hidden;
    z-index: 0;
    /* display: none; */
}

.banner .slider-wrap {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 300%;
    transition: left .7s;
}

.banner .slider-wrap.left {
    left: 0;
}

.banner .slider-wrap.middle {
    left: -100%;
}

.banner .slider-wrap.right {
    left: -200%;
}

.banner .slider-wrap>div {
    width: 33.33%;
    height: 100%;
    padding: 30px 20px;
    background-size: cover;
    background-position: center;
}

.banner .slider-wrap .slider1 {
    background-image: url("../images/slider1.jpg");
}

.banner .slider-wrap .slider2 {
    background-image: url("../images/slider2.jpg");
}

.banner .slider-wrap .slider3 {
    background-image: url("../images/slider3.jpg");
}

.banner .slider-wrap .text {
    background-color: rgba(216, 199, 184, 0.6);
    border: 4px solid rgba(60, 60, 60, 0.2);
    padding: 10px 0 10px;
    border-radius: 10%;
    text-align: center;
    z-index: 2;
}

.banner .slider-wrap .text h2 {
    font-size: 1.5rem;
}

.banner .slider-wrap .text p {
    margin-top: 10px;
    font-size: .9rem;
}

.banner button {
    position: absolute;
    height: 40%;
    width: 15%;
    background-color: rgba(210, 210, 210, 0.4);
    border: 1px solid rgba(80, 80, 80, 0.4);
    font-size: 2rem;
    color: rgba(40, 40, 40, 0.6);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 3;
}

.banner button.arrow-right {
    left: auto;
    right: 0;
}

@media (min-width: 760px) {


    .banner {
        height: calc(60vh - var(--headerHeight));
    }


    .banner .slider-wrap>div {
        padding: 80px 60px;
    }

    .banner .slider-wrap .text {
        padding: 20px 40px;
    }

    .banner .slider-wrap .text p {
        margin-top: 20px;
    }
}

/* BANNER DESKTOP */

@media (min-width: 1020px) {
    .banner {
        height: calc(60vh - var(--headerHeight));
    }

    .banner .slider-wrap>div {
        padding-top: 80px;
    }

    .banner .slider-wrap .text {
        margin: 0 auto;
        max-width: 600px;
        border-width: 1px;
    }

    .banner button {
        width: 50px;
        height: 20%;
    }
}

/* ABOUT MOBILE */
.wrap-bottom {
    background-image: url('../images/bgpattern2.png');
}

.about h2 {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    line-height: 3rem;
    width: 100%;
    text-align: center;
    background-color: #232323;
    color: rgb(160, 134, 73);
}

.about p {
    font-size: .85rem;
    color: #222;
    padding: 20px 20px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 140%;
    font-weight: normal;
    background-image: linear-gradient(135deg, cornsilk 30%, 70%, wheat 90%);
}

@media (orientation: landscape) {
    .about p {
        padding: 20px 40px;
    }
}

/* ABOUT DESKTOP */

@media (min-width: 1020px) {
    .wrap-bottom {
        padding-top: 30px;
    }

    .about {
        margin: 0 auto;
        width: 80vw;
        max-width: 1240px;
        padding-bottom: 30px;
    }

    .about h2 {
        margin-bottom: 20px;
    }

    .about p {
        opacity: .8;
    }
}

/* ESSENTAILS MOBILE and DESKTOP */

.essentials {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    text-align: center;
    padding: 0 1rem 1.5rem;
    margin: 0 auto;
    color: #3c2b0c;
    font-family: 'Josefin Sans', sans-serif;
}

.essentials>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    flex-grow: 1;
    flex-basis: 350px;
    margin-top: 2rem;
}

.essentials h2 {
    font-family: 'Courgette', cursive;
    font-weight: normal;
}

.essentials h2+* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    /* padding-top: 1rem; */
}

.essentials>div>p {
    line-height: 140%;
    ;
    padding: 1rem;
}

.essentials button {
    min-width: 160px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    color: inherit;
    background-color: rgba(220, 220, 220, 0.8);
    border: 2px solid #888;
    border-radius: 5%;
    /* margin: .6rem 0 1.2rem; */
    padding: .3rem 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.essentials button:hover {
    color: rgba(220, 220, 220, 1);
    background-color: #3c2b0c;
    border-color: #bbb;
}

@media (min-width: 359px) and (max-width: 750px) and (orientation: portrait) {
    .essentials>div {
        min-height: 240px;
    }
}

@media (orientation: landscape) {

    .essentials>div {
        padding: 0 1.5rem;
    }
}

/* BANNER BOTTOM mobile */

.banner-bottom {
    border-top: 4px solid #3c2b0c;
    border-bottom: 4px solid #3c2b0c;
    height: 480px;
    background-image: url('../images/banner-bottom.jpg');
    background-size: 300%;
    background-position: 50% 0%;
    margin-top: 40px;
}

@media (min-width: 530px) {
    .banner-bottom {
        background-size: 200%;
    }
}

@media (min-width: 720px) {
    .banner-bottom {
        background-size: 150%;
    }
}

@media (min-width: 1240px) {
    .banner-bottom {
        background-size: 100%;
    }
}

/* ADDITIONAL */

.additional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact {
    /* flex-grow: 1; */
    text-align: center;
    color: #3c2b0c;
    font-size: .8rem;
    margin-bottom: 30px;
}

/* .contact .wrap {
    width: 78%;
    margin: 0 auto;
} */

.contact h2 {
    font-family: 'Courgette', cursive;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 120%;
    /* width: 100%; */
    margin-top: 25px;
    margin-bottom: 15px;
}

.contact .info {
    text-align: left;
}

.contact p {
    padding: .2rem 0;
}

.contact p i {
    font-size: 1.2rem;
    width: 2rem;
    text-align: center;
    vertical-align: -.17rem;
}

.contact p.hours i {
    vertical-align: 0.38rem;
}

.contact p span {
    text-align: left;
    display: inline-block;
}

.gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery>div {
    height: 180px;
    width: 300px;
    border: 2px solid black;
}

.gallery .more {
    position: absolute;
    left: auto;
    top: 100%;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
}

.gallery .more:hover {
    text-shadow: 1px 1px #888;
}

@media (min-width: 400px) {
    .additional>* {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (min-width: 610px) and (max-width: 1300px) {
    .gallery {
        width: 69vw;
    }
}

/* INVITE */

.invite {
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 2.3rem;
    margin-top: 50px;
    text-align: center;
    background-color: rgba(80, 80, 80, 0.4);
    padding: 10px 0;
}

.invite span {
    color: #fce436;
    /* background-color: rgba(0, 0, 0, 0.4); */
}

@media (min-width: 410px) {
    .invite {
        font-size: 2.5rem;
    }
}

/* FOOTER */

footer {
    height: 10vh;
}